body {
  background-color:var(--bw5);
}

.notebook {
  width:450px;
  height:450px;
  background-color:var(--bw2);
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
}

.top-nav {
  height:auto;
  color:var(--textColor);
  font-family:var(--stfont);
  font-size:10px;
  text-transform:uppercase;
  border-bottom:1px solid var(--bw5);
  align-content:center;
  padding:8px;
  display:flex;
  justify-content:space-between;
}

.chemin {
  color:var(--grey);
  position:relative;
  left:-40px;
}

.note-content {
  width:calc(100% + 100px)!important;
  height:calc(100% - 90px);
  position:relative;
  display:flex;
  left:-100px;
  top:25px;
  column-gap:30px;
}

.presa_content {
  width:calc(100% - 200px);
  overflow-y:hidden;
margin-left:auto;
  margin-right:55px;
  font-family:var(--font);
  font-size:12px;
  color:var(--textColor);
}

.note-avatar img {
  width:200px;
  border:6px solid var(--bw5);
}

.avatar-hover {
  width:189px;
  height:302px;
  background-color:transparent;
  position:absolute;
  top:5px;
  left:36px;
  transition:ease-in-out .3s;
  display:grid;
  opacity:0;
}

.avatar-hover div {
  background:var(--bw2);
  margin:10px;
  padding:10px;
  vertical-align:middle;
  color:var(--textColor);
  font-family:var(--font);
  font-size:12px;
  text-align:center;
  align-content:center;
}

.avatar-hover:hover {
  background-color:var(--bwava);
  backdrop-filter:blur(3px);
  display:grid;
  opacity:1;
  transition:ease-in-out .3s
}

.note-presa-content {
  width:100%;
  display:flex;
  flex-direction:column;
  padding-right:30px;
  padding-top:7px;
}

.note-title {
  font-family:var(--font);
  color:var(--textColor);
  font-size:24px;
  background-color:color-mix(in srgb, var(--co1) 20%, transparent);
  padding:4px 10px;
  border-right:3px solid var(--co1)
}

bb {
  font-weight:800;
}

.top-part {
  display:flex;
}

.note-infos {
  font-family:var(--stfont);
  font-size:9px;
  padding-left:16px;
  color:var(--textColor)
}

.middle-part {
  font-family:var(--stfont);
  color:var(--textColor);
  font-size:12px;
  margin-top:20px;
  text-transform:uppercase;
    gap: 10px;
}

.middle-part track-list {
    display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-row:1fr 1fr 1fr 1fr;
  border-bottom:1px solid var(rey);
  padding:10px 0;
}

.middle-part track-list:last-child {
  border-bottom:none;
}

hi {
  font-weight:bolder;
  color:transparent;
  background:var(--gradient3);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  background-clip:text;
  font-family:var(--stfont);
  text-transform:uppercase;
}

.third-part {
  width:100%;
  max-width:100%;
  height:100%;
  max-height:140px;
  background-color:var(--bw5);
 margin-top:15px;
  border-radius:5px;
  color:var(--textColor);
  font-family:var(--font);
  font-size:12px;
  padding:20px 30px;
  overflow-y:auto;
}

.notes-tab-links {
  width:274px;
  height:auto;
  background:var(--gradient3);
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:50px;
  border-radius:30px;
  display:flex;
  flex-direction:row;
  padding:7px 25px;
  font-family:var(--stfont);
  font-size:8px;
  justify-content:space-evenly;
}

.notes-tab-links i {
  font-size:14px;
  padding-bottom:2px;
}

.notes-tab-links a {
  display:grid;
  place-items:center;
  text-decoration:none;
  color:var(--bw2);
}

.pages-note {
  width:30%;
  height:auto;
  color:var(--bw2);
  font-family:var(--font);
  font-weight:900;
  font-size:12px;
  position:relative;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  justify-content:space-evenly;
  bottom:-30px;
}

.pages-note label {
  padding:5px 15px;
  border-radius:20px;
  border:1px solid ;
  color:var(--textColor);
}

.pages-note label:hover {
  background:var(--gradient3);
  color:var(--bw2);
  transition:ease-in-out .3s;
}

.pages-note label:active {
  background:var(--gradient3);
  color:var(--bw2);
}

input[name="tabs"] { 
  display:none; 
}

#noteTG01:checked ~ #note-page_1,
#noteTG02:checked ~ #note-page_2,
#noteTG03:checked ~ #note-page_3,
#noteTG04:checked ~ #note-page_4,
#noteTG05:checked ~ #note-page_5, 
#noteTG06:checked ~ #note-page_6,
#noteTG07:checked ~ #note-page_7,
#noteTG08:checked ~ #note-page_8,
#noteTG09:checked ~ #note-page_9,
#noteTG10:checked ~ #note-page_10,
#noteTG11:checked ~ #note-page_11,
#noteTG12:checked ~ #note-page_12,
#noteTG13:checked ~ #note-page_13,
#noteTG14:checked ~ #note-page_14,
#noteTG15:checked ~ #note-page_15,
#noteTG16:checked ~ #note-page_16,
#noteTG17:checked ~ #note-page_17,
#noteTG18:checked ~ #note-page_18,
#noteTG19:checked ~ #note-page_19,
#noteTG20:checked ~ #note-page_20,
#noteTG21:checked ~ #note-page_21,
#noteTG22:checked ~ #note-page_22,
#noteTG23:checked ~ #note-page_23,
#noteTG24:checked ~ #note-page_24,
#noteTG25:checked ~ #note-page_25,
#noteTG26:checked ~ #note-page_26,
#noteTG27:checked ~ #note-page_27,
#noteTG28:checked ~ #note-page_28,
#noteTG29:checked ~ #note-page_29,
#noteTG30:checked ~ #note-page_30,
#noteTG31:checked ~ #note-page_31,
#noteTG32:checked ~ #note-page_32,
#noteTG33:checked ~ #note-page_33,
#noteTG34:checked ~ #note-page_34,
#noteTG35:checked ~ #note-page_35,
#noteTG36:checked ~ #note-page_36,
#noteTG37:checked ~ #note-page_37,
#noteTG38:checked ~ #note-page_38,
#noteTG39:checked ~ #note-page_39,
#noteTG40:checked ~ #note-page_40,
#noteTG41:checked ~ #note-page_41,
#noteTG42:checked ~ #note-page_42,
#noteTG43:checked ~ #note-page_43,
#noteTG44:checked ~ #note-page_44,
#noteTG45:checked ~ #note-page_45,
#noteTG46:checked ~ #note-page_46,
#noteTG47:checked ~ #note-page_47,
#noteTG48:checked ~ #note-page_48,
#noteTG49:checked ~ #note-page_49,
#noteTG50:checked ~ #note-page_50,
#noteTG51:checked ~ #note-page_51,
#noteTG52:checked ~ #note-page_52,
#noteTG53:checked ~ #note-page_53,
#noteTG54:checked ~ #note-page_54,
#noteTG55:checked ~ #note-page_55,
#noteTG56:checked ~ #note-page_56,
#noteTG57:checked ~ #note-page_57,
#noteTG58:checked ~ #note-page_58,
#noteTG59:checked ~ #note-page_59,
#noteTG60:checked ~ #note-page_60,
#noteTG61:checked ~ #note-page_61,
#noteTG62:checked ~ #note-page_62,
#noteTG63:checked ~ #note-page_63,
#noteTG64:checked ~ #note-page_64,
#noteTG65:checked ~ #note-page_65,
#noteTG66:checked ~ #note-page_66,
#noteTG67:checked ~ #note-page_67,
#noteTG68:checked ~ #note-page_68,
#noteTG69:checked ~ #note-page_69,
#noteTG70:checked ~ #note-page_70,
#noteTG71:checked ~ #note-page_71,
#noteTG72:checked ~ #note-page_72,
#noteTG73:checked ~ #note-page_73,
#noteTG74:checked ~ #note-page_74,
#noteTG75:checked ~ #note-page_75
 {
  display:flex;
}

.note-content {
  display:none;
}

#noteTG01:checked ~ .pages-note label[for="noteTG01"],
#noteTG02:checked ~ .pages-note label[for="noteTG02"],
#noteTG03:checked ~ .pages-note label[for="noteTG03"],
#noteTG04:checked ~ .pages-note label[for="noteTG04"],
#noteTG05:checked ~ .pages-note label[for="noteTG05"],
#noteTG06:checked ~ .pages-note label[for="noteTG06"],
#noteTG07:checked ~ .pages-note label[for="noteTG07"],
#noteTG08:checked ~ .pages-note label[for="noteTG08"],
#noteTG09:checked ~ .pages-note label[for="noteTG09"],
#noteTG10:checked ~ .pages-note label[for="noteTG10"],
#noteTG11:checked ~ .pages-note label[for="noteTG11"],
#noteTG12:checked ~ .pages-note label[for="noteTG12"],
#noteTG13:checked ~ .pages-note label[for="noteTG13"],
#noteTG14:checked ~ .pages-note label[for="noteTG14"],
#noteTG15:checked ~ .pages-note label[for="noteTG15"],
#noteTG16:checked ~ .pages-note label[for="noteTG16"],
#noteTG17:checked ~ .pages-note label[for="noteTG17"],
#noteTG18:checked ~ .pages-note label[for="noteTG18"],
#noteTG19:checked ~ .pages-note label[for="noteTG19"],
#noteTG20:checked ~ .pages-note label[for="noteTG20"],
#noteTG21:checked ~ .pages-note label[for="noteTG21"],
#noteTG22:checked ~ .pages-note label[for="noteTG22"],
#noteTG23:checked ~ .pages-note label[for="noteTG23"],
#noteTG24:checked ~ .pages-note label[for="noteTG24"],
#noteTG25:checked ~ .pages-note label[for="noteTG25"],
#noteTG26:checked ~ .pages-note label[for="noteTG26"],
#noteTG27:checked ~ .pages-note label[for="noteTG27"],
#noteTG28:checked ~ .pages-note label[for="noteTG28"],
#noteTG29:checked ~ .pages-note label[for="noteTG29"],
#noteTG30:checked ~ .pages-note label[for="noteTG30"],
#noteTG31:checked ~ .pages-note label[for="noteTG31"],
#noteTG32:checked ~ .pages-note label[for="noteTG32"],
#noteTG33:checked ~ .pages-note label[for="noteTG33"],
#noteTG34:checked ~ .pages-note label[for="noteTG34"],
#noteTG35:checked ~ .pages-note label[for="noteTG35"],
#noteTG36:checked ~ .pages-note label[for="noteTG36"],
#noteTG37:checked ~ .pages-note label[for="noteTG37"],
#noteTG38:checked ~ .pages-note label[for="noteTG38"],
#noteTG39:checked ~ .pages-note label[for="noteTG39"],
#noteTG40:checked ~ .pages-note label[for="noteTG40"],
#noteTG41:checked ~ .pages-note label[for="noteTG41"],
#noteTG42:checked ~ .pages-note label[for="noteTG42"],
#noteTG43:checked ~ .pages-note label[for="noteTG43"],
#noteTG44:checked ~ .pages-note label[for="noteTG44"],
#noteTG45:checked ~ .pages-note label[for="noteTG45"],
#noteTG46:checked ~ .pages-note label[for="noteTG46"],
#noteTG47:checked ~ .pages-note label[for="noteTG47"],
#noteTG48:checked ~ .pages-note label[for="noteTG48"],
#noteTG49:checked ~ .pages-note label[for="noteTG49"],
#noteTG50:checked ~ .pages-note label[for="noteTG50"],
#noteTG51:checked ~ .pages-note label[for="noteTG51"],
#noteTG52:checked ~ .pages-note label[for="noteTG52"],
#noteTG53:checked ~ .pages-note label[for="noteTG53"],
#noteTG54:checked ~ .pages-note label[for="noteTG54"],
#noteTG55:checked ~ .pages-note label[for="noteTG55"],
#noteTG56:checked ~ .pages-note label[for="noteTG56"],
#noteTG57:checked ~ .pages-note label[for="noteTG57"],
#noteTG58:checked ~ .pages-note label[for="noteTG58"],
#noteTG59:checked ~ .pages-note label[for="noteTG59"],
#noteTG60:checked ~ .pages-note label[for="noteTG60"],
#noteTG61:checked ~ .pages-note label[for="noteTG61"],
#noteTG62:checked ~ .pages-note label[for="noteTG62"],
#noteTG63:checked ~ .pages-note label[for="noteTG63"],
#noteTG64:checked ~ .pages-note label[for="noteTG64"],
#noteTG65:checked ~ .pages-note label[for="noteTG65"],
#noteTG66:checked ~ .pages-note label[for="noteTG66"],
#noteTG67:checked ~ .pages-note label[for="noteTG67"],
#noteTG68:checked ~ .pages-note label[for="noteTG68"],
#noteTG69:checked ~ .pages-note label[for="noteTG69"],
#noteTG70:checked ~ .pages-note label[for="noteTG70"],
#noteTG71:checked ~ .pages-note label[for="noteTG71"],
#noteTG72:checked ~ .pages-note label[for="noteTG72"],
#noteTG73:checked ~ .pages-note label[for="noteTG73"],
#noteTG74:checked ~ .pages-note label[for="noteTG74"],
#noteTG75:checked ~ .pages-note label[for="noteTG75"]
{
  background: var(--gradient3);
  color: #fff;
  font-weight:700;
}

.chronology {
  width:100%;
  height:290px;
  overflow-y:auto;
  margin:25px 0 ;
}
.top-chrono {
  display:flex;
  flex-direction:column;
  padding-top:20px;
}

.top-chrono:first-child {
  padding-top:0px;
}

.datechrono {
  color:transparent;
  background:var(--gradient3);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  background-clip:text;
  font-size:14px;
  font-weight:bold;
  line-height:20px;
  font-family:var(--titlefont2);
}

.datechrono i {
  margin-right:10px;
  font-size:12px;
}

.chrono_quote {
  font-size:10px;
  font-style:italic;
  padding-left:23px;
}

.chrono_content {
  border-left:1px solid var(--grey);
  padding-left:19px;
  margin:10px 0 0 5px;
  text-align:justify;
}

.grid-relations {
    width:100%;
  height:290px;
  overflow-y:auto;
  display:grid;
   grid-template-columns: 1fr 1fr;
  gap:10px;
  margin-top:25px;
}

.link-photo {
  width:100%;
  height:75px;
  object-fit:cover;
  border-radius:3px;
}

.name-link {
  text-transform:uppercase;
  font-weight:900;
   background:var(--gradient3);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  background-clip:text;
}

tag2 {
  font-family:var(--stfont);
  font-size:9px;
  text-transform:uppercase;
  border:1px solid var(--textColor);
  padding:4px 5px;
  border-radius:4px;
}

.content_link_ideas {
  width:100%;
    height:290px;
  overflow-y:auto;
  margin-top:25px;
}

.content_link_rp {
  width:100%;
    height:290px;
  overflow-y:auto;
  margin-top:25px;
}

summary {
  background:var(--bw5);
  font-size:12px;
  font-weight:800;
  padding:5px 11px;
  border-radius:4px;
}

 details>summary:first-of-type:before {
    font-size: .7em;
    margin-right: 10px;
}

.content_link_ideas details>summary:first-of-type:before {
  font-family: 'cappuccicons';
    content: '\ec14';
}

.content_link_rp details>summary:first-of-type:before {
  font-family: 'cappuccicons';
    content: '\eabb';
}

details > summary:first-of-type {
  list-style:none;
}

.content_link_ideas details[open]>summary:first-of-type:before {
      content: '\eb88';
    font-family: 'cappuccicons';
}

.content_link_rp details[open]>summary:first-of-type:before {
      content: '\eabc';
    font-family: 'cappuccicons';
}

details p {
  text-align:justify;
  padding:0 10px 15px 10px;
  margin-top:10px;
  border-bottom:1px solid var(--grey);
  font-size:12px;
}

details {
  margin-bottom:10px;
}

summary tag2 {
  padding:2px 5px;
  font-size:10px;
  vertical-align:middle;
}

details a {
  text-transform:uppercase;
  text-decoration:none;
  font-weight:800;
  color:transparent;
  background:var(--gradient3);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  background-clip:text;
  line-height:22px;
}

::-webkit-scrollbar {
  width:2px;
  margin:5px; 
}

::-webkit-scrollbar-thumb {
  background:var(--gradient3);
}

::-webkit-scrollbar-track {
  background:var(--bw2);
  width:1px;
}
/*** NE PAS C/C ***/

:root {
  --tc1:color-mix(in srgb(var(--co1)), transparent 85%);
  --grey:light-dark(#DEDEDE,#373737);
  --bwava:rgba(0, 0, 0, 0.6);
}
  
